version: '3'
services:
  guacd:
    image: guacamole/guacd
    networks:
      - guacnetwork
    expose:
      - "4822"

  postgres:
    image: postgres:15.2-alpine
    environment:
      POSTGRES_USER: guacamole_user
      POSTGRES_PASSWORD: guacamole_password
      POSTGRES_DB: guacamole_db
    volumes:
      - ./initdb.sql:/docker-entrypoint-initdb.d/initdb.sql:ro
      - ./data:/var/lib/postgresql/data
    networks:
      - guacnetwork

  guacamole:
    image: guacamole/guacamole
    depends_on:
      - guacd
      - postgres
    ports:
      - "8080:8080"
    environment:
      GUACD_HOSTNAME: guacd
      GUACD_PORT: 4822
      POSTGRESQL_HOSTNAME: postgres
      POSTGRESQL_DATABASE: guacamole_db
      POSTGRESQL_USER: guacamole_user
      POSTGRESQL_PASSWORD: guacamole_password
      DISABLE_WEBSOCKETS: "true"  # 이 한 줄만 추가
    networks:
      - guacnetwork

  test-ssh:
    image: linuxserver/openssh-server
    container_name: test-ssh
    environment:
      - PUID=1000
      - PGID=1000
      - USER_NAME=testuser
      - USER_PASSWORD=testpass
      - PASSWORD_ACCESS=true
    networks:
      - guacnetwork

networks:
  guacnetwork:
    driver: bridge